/*.line{
	height:1px;
	/*margin:0px auto;*/
/*	margin-bottom: 10px;
	margin-top: 20px;
	padding:0px;
	background-color:#47c9af;
	overflow:hidden;
}

.footer{
	margin-bottom: 70px;
	font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;    
}

.distance{
	margin-left: 40px;
}