.form {
    max-width: 980px;
    margin: 0 auto;
    font-family: inherit;
}
.form .content {
    margin: 40px auto;
    padding-bottom: 50px;
    background: #fff;
    min-height: 500px;
    font-size: 14px;
    color: #333;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(183,195,192,.95);
    max-width: 980px;
}

.form label{
    font-weight: 500;
    font-size: 15px;
}

.box {
    padding-top: 60px;
    max-width: 500px;
    margin: 40px auto;
}

.form select.form-input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0;
}


.form .selectize-input, .form input.form-input, .form select.form-input, .form textarea.form-input{
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #f5f5f5;
    background-image: none;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    box-sizing: border-box;
}

.form .ds-table {
    display: table!important;
    width: 100%;
    table-layout: fixed;
}

.form .pd-right-10 {
    padding-right: 10px;
}
.form .ds-table-cell {
    display: table-cell!important;
    table-layout: fixed;
}

.form input.form-input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 12px;
}

.form textarea.form-input {
    display: block;
    width: 100%;
    padding: 6px;
    resize: none;
}


div.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom{
	margin-top: 40px;
}


.form div.input {
    margin-bottom: 30px;
    box-sizing: border-box;
}

.agreement-checkbox {
    float: left;
    margin-right: 10px;
    height: 15px;
    line-height: 15px;
}

.agreement-text {
    height: 15px;
    line-height: 15px;
}


.form .last-row .sub-button {
    display: inline-block;
    float: left;
}

.btn-with-shadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.2);
}

.sub-button {
    padding: 9px 27px;
    font-size: 18px;
}
.sub-button, i.label-icon {
    background: #4289DB;
    border-radius: 30px;
    color: #fff;
}

.mart-button{
	border: none;
    outline: 0;
    transition: background .5s cubic-bezier(0,.98,.68,.92);
}