{% extends "navbar.html" %}
{% block body %}

<div class="form-group has-success">
<label class="control-label" for="username">Success</label>
<input type="text" class="form-control form-control-success" id="username" aria-describedby="usernameStatus">
</div>

<div class="form-group has-warning">
<label class="control-label" for="password">Warning</label>
<input type="password" class="form-control form-control-warning" id="password" aria-describedby="passwordStatus">
</div>

<div class="form-group has-error">
<label class="control-label" for="phone">Error</label>
<input type="tel" class="form-control form-control-error" id="phone" aria-describedby="phoneStatus">
</div>

{% endblock %}