{% extends "navbar.html" %}
{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}" >
    <style>
        input:focus{
            border:0 !important;
        }
    </style>
    <div class="container" style="text-align: center">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="{{url_for('static', filename='img/logo.png')}}" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" action="{{ url_for('login') }}" method="post">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="inputEmail" class="form-control" placeholder="用户名" required autofocus name="username">
                <input type="password" id="inputPassword" class="form-control" placeholder="密码" required name="password">
                <input type="hidden" name="next_url" value="{{ next_url }}">
                <!--<div id="remember" class="checkbox">-->
                    <!--<label>-->
                        <!--<input type="checkbox" value="remember-me"> 记住我-->
                    <!--</label>-->
                <!--</div>-->
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">登录</button>
            </form><!-- /form -->
            <a href="{{ url_for('login_weibo') }}" style="float: left">微博登录</a>
            <a href="#" class="forgot-password">
                忘记密码?
            </a>
            <a href="{{ url_for('signup') }}" class="forgot-password" style="float:right">
                注册
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
{% endblock %}
