{% extends "layout.html" %}
{% block navbar %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/navbar_styles.css') }}" />
    <div id="content-navbar">
        <div id="navbar">
            <img src="{{url_for('static', filename='img/logo.png')}}" style="width:40px;height: 40px;float: left;margin-left: 25px;margin-top: 4px"/>
            <div id='cssmenu'>
                <ul>
                   <li class='active'><a href="{{ url_for('homepage') }}">济市</a></li>
                   <li><a href="{{ url_for('alldisplay') }}">项目展示</a></li>
                   <li><a href="{{ url_for('persondisplay') }}">个人中心</a></li>
                   <li><a href="{{ url_for('message_test') }}">消息提醒</a></li>
                   <li><a href="{{ url_for('create_project') }}">项目发布</a></li>
                    {% if session.username %}
                    <li style="float: right"><a >{{session.username}}</a></li>
                    <li style="float: right"><a href='{{ url_for('logout') }}'>登出</a></li>
                    {% else %}
                    <li id='navlogin'><a href='{{ url_for('login') }}'>登录</a></li>
                    <li id='navregister'><a href='{{ url_for('signup') }}'>注册</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
