{% extends "layout.html" %}
{% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top"
         style="background: transparent; border: none;transition: all 0.5s">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='img/logo.png') }}"
                         style="width: 40px;
                         height: 40px;
                         float: left;
                         margin-left: 20px;
                         margin-top: -5px;
                         margin-right: 10px;"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li id="all_project"><a href='{{ url_for('alldisplay') }}'>项目广场</a></li>
                    <li id="create_project"><a href='{{ url_for('create_project') }}'>项目发布</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li id="message_alert"><a href="{{ url_for('message_page') }}">消息提醒</a></li>
                    <li id="person"><a href="{{ url_for('user_info') }}">个人中心</a></li>
                    {% if not session.get('username') %}
                        <li id="jishi_login"><a href='{{ url_for('login') }}'>登录</a></li>
                        <li id="jishi_signup"><a href='{{ url_for('signup') }}'>注册</a></li>
                    {% endif %}
                    {% if session.get('username') %}
                        {% if session.get('weibo') %}
                        <img src="{{session.user.profile_image_url}}" style="border-radius: 50%;float: left;width:40px;margin-top: 5px"></img>
                        {% endif %}
                        <li id="jishi_logout"><a href='{{ url_for('logout') }}'>退出</a></li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".navbar").css({
                "background": "#fff",
                "height": "60px",
                "box-shadow": "0 4px 8px rgba(0,0,0,.1)"
            });
            $(".navbar a").css({
                "color": "#3d444f"
            });
        });
    </script>
    {% block projectshow %}{% endblock %}
{% endblock %}
