{% extends "navbar.html" %}
{% block body %}
<html lang="zh-cn"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
<link rel="stylesheet" href="../css/main.min.css">
<body>
    <div class="main-container">
                <div class="view-container  ">
            <style>
    .select2-dropdown.select2-dropdown--above,.select2-dropdown.select2-dropdown--below{
        margin-top: -12px;
    }
    .select2-selection.select2-selection--single{
        display: none;
    }
</style>
                    <style> .wrap{float:left;}
                    .info form-container{
                        float:left;
                        margin-left:100px;
                        }</style>
                    <div class="wrap">
<div class="info form-container">
        <div class="box">
            <section class="form-account">
                <div class="avatar">
                    <img src="/img/p.png" height="40px">
                </div>
                <div class="user-info">
                    <div class="user-info-body">
                        <span class="email">Email: <em>123456789@qq.com</em>  </span>
                                                     </span>
                    </div>
                </div>
            </section>
            <h1><strong>个人信息</strong></h1>
            <hr class="head-line">
            <section class="form item form-info">
                <div class="tip">
                    <span>请填写正确的个人信息，以下信息不用于账户登录。</span>
                    <span>您的个人信息不会透露给任何第三方，请放心填写。</span>
                    <span>标有星号 (*) 的栏目为必填栏目。</span>
                </div>

                <div class="input">
                    <div class="ds-table">
                        <!-- name input -->
                        <div class="ds-table-cell pd-right-10">
                            <br><br>
                               <label><b>昵称&nbsp;*</b>
                                <span class="format-error" name="name_format_error"></span>
                            </label>
                            <input class="form-input" type="text" placeholder="昵称" value="" name="nick">
                            <br>
                            <label><b>姓名&nbsp;*</b>
                                <span class="format-error" name="name_format_error"></span>
                            </label>
                            <input class="form-input" type="text" placeholder="姓名" value="" name="name">
                             <label><b>性别&nbsp;*</b>
                                <span class="format-error" name="name_format_error"></span>
                            </label>
                            <div class="tow fields" style="display: inline"> 
                    <div class="grouped inline fields">
                        <div>
                            <div class="field" style="display: inline-block;margin-right: 5px">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="sex" ng-model="user.sex" id="known" value="2" class="ng-pristine ng-untouched ng-valid">
                                    <label for="known">未知</label>
                                </div>
                            </div>
                            <div class="field" style="display: inline-block;margin-right: 10px">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="sex" ng-model="user.sex" checked="checked" id="male" value="0" class="ng-pristine ng-untouched ng-valid">
                                    <label for="male">男</label>
                                </div>
                            </div>
                            <div class="field" style="display: inline-block;margin-right: 0px">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="sex" ng-model="user.sex" id="female" value="1" class="ng-pristine ng-untouched ng-valid">
                                    <label for="female">女</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                            <label><b>手机&nbsp;*</b>
                                <span class="format-error" name="name_format_error"></span>
                            </label>
                            <input class="form-input" type="text" placeholder="手机" value="" name="phone">
                             <label><b>学校&nbsp;*</b>
                                <span class="format-error" name="name_format_error"></span>
                            </label>
                            <input class="form-input" type="text" placeholder="学校" value="" name="school">
                             <label><b>年级&nbsp;*</b>
                                <span class="format-error" name="name_format_error"></span>
                            </label>
                            <input class="form-input" type="text" placeholder="年级" value="" name="grade">
                             <label><b>您感兴趣的方面&nbsp;*</b>
                                <span class="format-error" name="name_format_error"></span>
                            </label>
                            <input class="form-input" type="text" placeholder="感兴趣的方面" value="" name="interest">
                        </div>
                    </div>

                </div>


            </section>

            <section class="form item form-save">
                <button class="sub-button mart-button btn-with-shadow">保存</button>
            </section>
        </div>
    </div>
        </div>
        </div>
         </div>
{% endblock %}