{% extends "navbar.html" %}
{% block body %}
<html lang="zh-cn"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
<link rel="stylesheet" href="../css/main.min.css">
<body>
    <div class="main-container">
                <div class="view-container  ">
            <style>
    .select2-dropdown.select2-dropdown--above,.select2-dropdown.select2-dropdown--below{
        margin-top: -12px;
    }
    .select2-selection.select2-selection--single{
        display: none;
    }
</style>
                    <style> .wrap{float:left;}
                    .info form-container{
                        float:left;
                        margin-left:100px;
                        }</style>
                    <div class="wrap">
<div class="form" id="mart-userinfo">
    <div class="info form-container">
        <div class="box">
            <section class="form-account">
                <div class="avatar">

                    <img src="/img/p.png" height="40px">
                </div>
                <div class="user-info">
                    <div class="user-info-head">
                        <span>Coding 账户&nbsp;<i class="fa fa-question-circle account-tooltip tooltipstered"></i></span>
                        <a class="black-button goto-coding-account" style="cursor: pointer;" href="personedit">修改账户信息</a>
                    </div>
                    <div class="user-info-body">
                        <span class="gk">Global Key: <em>shuoyaoyiqidaozuihou</em></span>
                        <span class="email">Email: <em>123456789@qq.com</em>  </span>
                        <span class="phone">手机:                                                             <em>+86 15221373685</em>
                                                     </span>
                    </div>
                </div>
            </section>
            <h1>个人信息</h1>
            <hr class="head-line">
            <section class="form item form-info">
                <div class="tip">
                    <span>以下为个人信息</span>
                </div>
                <div class="input">
                    <div class="ds-table">
                        <!-- name input -->
                        <div class="tip">
                            <label><b>昵称&nbsp;shuoyaoyiqidaozuihou</b></label>
                            <label><b>姓名&nbsp;李明</b></label>
                            <label><b>性别&nbsp;女</b></label>
                            <label><b>手机号&nbsp;15221212121</b></label>
                            <label><b>学校&nbsp;同济大学</b></label>
                            <label><b>感兴趣的方面&nbsp;GIS</b></label>
                        </div>
                    </div>
                </div> </section>
        </div>
    </div>
</div>

        </div>
        </div>
         </div>
{% endblock %}