{% extends "navbar.html" %}
{% block body %}
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/main.min.css">
</head>
<body>
    <div class="main-container">
        <header id="mart-header" class=" "></header>
        <div class="view-container  " >
            <div id="case_detail" class="onepcssgrid-1000 onerow">
                <div class="case_content">
                    <div class="head">
                        <img class="h" src="../img/title.png"/>
                    </div>
                    <div class="name">{{ project.name }}</div>
                    <div class="digest">
                        人数
                        <span class="strong"> {{ project.currentPeople }} / {{project.maxPeople}} </span>
                        项目时间
                        <span class="strong"> {{ project.time }} </span>
                    </div>
                    <div class="delimiter"></div>
                    <div class="intro">
                        <div class="title">项目描述</div>
                        <p>{{ project.des }}</p>
                    </div>
                    <div class="title">项目需求</div>
                    <div class="show clearfix">
                        <div class="case-image">
                            <img src="/img/p2.png" style="float: none;">
                            <img src="/img/p3.png" style="float: none;">
                            <img src="/img/p1.png" style="float: none;">
                        </div>
                    </div>
                    <div class="ceo">
                    </div>
                    <input id="project_id" type="hidden" value="{{project._id}}"/>
                    <button id="applyBtn" class="btn btn-primary" onclick="apply(this)">申请加入该项目</button>
                    <div class="link">
                        <div class="title">项目链接</div>
                        <div class="subtitle">项目页面</div>
                        <div>
                            <p><a href="https://mart.coding.net/project/49">https://mart.coding.net/project/49</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function apply(btn){
        var project_id = $("#project_id").val();
        var data = {'project_id':project_id}
         $.ajax({
                url: "/project/apply",
                data: JSON.stringify(data),
                contentType: 'application/json',
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    alert(data['projectId'] + "创建成功!")
                    $("#applyBtn").css({

                    })
                },
                error: function (data) {
                    console.log(data)
                }
            })

    }
</script>
{% endblock %}
