{% extends "navbar.html" %}
{% block body %}
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/main.min.pro.css">
</head>
<body>
    <div class="main-container">
        <header id="mart-header" class=" "></header>
        <div class="view-container  " >
            <div id="case_detail" class="onepcssgrid-1000 onerow">
                <div class="case_content">
                    <div class="head">
                        <img class="h" src="../img/title.png"/>
                    </div>
                    <div class="name"><strong>{{ project.name }}</strong></div>
                    <div class="digest">
                        人数
                        <span class="strong"> {{ project.currentPeople }} / {{project.maxPeople}} </span>
                        项目时间
                        <span class="strong"> {{ project.time }} </span>
                    </div>
                    <div class="delimiter"></div>
                    <div class="intro">
                        <div class="title">项目描述</div>
                        <p>{{ project.description }}</p>
                    </div>
                    <div class="title">项目需求</div>
                    <div class="show clearfix">
                        <div class="case-image">
                            <img src="/img/p2.png" style="float: none;">
                            <img src="/img/p3.png" style="float: none;">
                            <img src="/img/p1.png" style="float: none;">
                        </div>
                    </div>
                    <div class="ceo">
                    </div>
                    <input id="project_id" type="hidden" value="{{project._id}}"/>
                    <button id="share" onclick="shareProject()">分享</button>
                    <div class="link">
                        <div class="title"><a href="{{url_for('showprojectdetail', project_id=project._id)}}">项目详情</a></div>
                    </div>
                    {% if session.get('username') == project.creator %}
                        <a id="modifyBtn" class="btn btn-primary" href="#" style="margin-top: 20px;margin-bottom: 20px">
                            修改
                        </a>
                    {% endif %}
                    {% if session.get('username') != project.creator %}
                        <button id="applyBtn" class="btn btn-primary" onclick="apply(this)" style="margin-top: 20px;margin-bottom: 20px">申请加入该项目</button>
                    {% endif %}
                    {% if session.get('username') in project.team and session.get('username') != project.creator%}
                        <button id="applyBtn" class="btn btn-primary" onclick="quit(this)" style="margin-top: 20px;margin-bottom: 20px">退出该项目</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    function apply(btn){
        var project_id = $("#project_id").val();
        var data = {'project_id':project_id};
        $.ajax({
            url: "/project/apply",
            data: JSON.stringify(data),
            contentType: 'application/json',
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                alert(data['projectId'] + "创建成功!");
                $("#applyBtn").css({

                })
            },
            error: function (data) {
                console.log(data)
            }
        });
    }

    function shareProject() {
        var project_id = $("#project_id").val();
        var data = {'project_id':project_id};
        $.ajax({
            url: "/project/share",
            data: JSON.stringify(data),
            contentType: 'application/json',
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                alert(data['projectId'] + "分享成功");
            },
            error: function (data) {
                console.log(data)
            }
        });
    }

    function quit(btn) {
        var project_id = $("#project_id").val();
        var data = {'project_id':project_id};
        $.ajax({
            url: '/project/quit',
            data: JSON.stringify(data),
            contentType: 'application/json',
            type: 'POST',
            dataType: 'json',
            success: function (data) {
                alert('退出成功');
            },
            error: function (data) {
                console.log(data);
            }
        });
    }
</script>
{% endblock %}
