{% extends "navbar.html" %}
{% block title %}
    协议
{% endblock %}
{% block body %}
    <style type="text/css">
        .content {
            max-width: 980px;
            background: white;
            margin-bottom: 40px;
            margin-top: 100px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 30px;
            border-radius: 4px;
            box-shadow: 0 1px 2px rgba(183, 195, 192, .95);
        }

        .head-title {
            font-size: 30px;
            font-weight: bolder;
            text-align: center;
        }

        .par-title {
            font-size: 20px;
            font-weight: bolder;
        }

        .sub-title {
            font-size: 18px;
            font-weight: bolder;
        }

        .content {
            font-size: 18px;
        }

        .author {
            font-size: 20px;
            text-align: right;
        }

        p {
            margin: 18px;
        }
    </style>


    <body>

    <div class="content">
        <div class="head-title">
            <p>济市平台需求方协议</p>
        </div>
        <div class="par-title">
            <p>【首部及导言】</p>
        </div>
        <p>欢迎你使用济市平台！</p>
        <p>
            为使用济市平台需求方服务（以下简称“本服务”），你应当阅读并遵守《济市平台需求方协议》（以下简称“本协议”）。请你务必审慎阅读、充分理解各条款内容，特别是免除或限制责任的相应条款，以及开通或使用某项服务的单独协议，并选择接受或不接受。限制、免责条款可能以加粗形式提示你注意。</p>
        <p>除非你已阅读并接受本协议所有条款，否则你无权使用济市平台需求方服务。你通过本服务发布信息等行为即视为你已阅读并同意本协议的约束。</p>
        <p>如果你未满18周岁，请在法定监护人的陪同下阅读本协议及其他上述协议，并特别注意未成年人使用条款。</p>
        <div class="par-title">
            <p>一、【协议的范围】</p>
        </div>
        <p>
            1.1协议适用主体范围：本协议是你与济市产品开发团队之间关于你使用济市平台需求方服务所订立的协议。“济市产品开发团队”是指上海市同济大学软件学院2013级的同学们。“用户”是指申请济市平台需求方服务的济市帐号用户，在本协议中更多地称为“你”。</p>
        <div class="par-title">
            <p>二、【术语定义】</p>
        </div>

        <p>2.1 济市平台需求方服务：是指有项目外包需求的用户可以在济市平台上申请发布项目。济市根据用户的项目申请及其提交的资料和信息，评估并发布项目，提供项目管控的服务。</p>

        <div class="par-title">
            <p>三、【济市需求方服务模式】</p>
        </div>

        <p>济市提供的需求方服务核心流程包括：</p>
        <p>（需求方）提交项目-（济市）确认并发布需求-（开发者）报名项目-（需求方&济市）确认项目开发成员-（济市）启动项目-（开发者）开发-（济市）结束项目</p>
        <p class="sub-title">以下是各个阶段简介：</p>
        <p>（需求方）提交项目：需求方在线上提交项目需求信息或线下直接联系济市提供需求信息</p>
        <p>（济市）确认并发布需求：济市与需求方沟通后，确定合作意向后帮助确定并完善需求，济市整理确定后的需求在平台发布以招募开发者和设计师</p>
        <p>（开发者）报名项目：开发者和设计师报名参与项目</p>
        <p>（需求方&济市）确认项目开发成员：济市帮助需求方确定合适的项目开发成员</p>
        <p>（济市）启动项目：济市和开发成员确定产品需求、项目排期以启动项目</p>
        <p>（开发者）开发：开发者按照指定排期进行任务开发</p>
        <p>（济市）结束项目：至此项目完整结束</p>

        <div class="par-title">
            <p>四、【用户的权利义务】</p>
        </div>

        <p>4.1 用户应保证其提交给济市的项目需求真实有效。否则，济市有权拒绝或终止提供本服务，并依照本协议对违规帐号进行处罚。因此给济市或第三方造成损害的，你应当依法予以赔偿。</p>
        <p>4.2 用户同意授权济市将其提交的资料和信息提供给第三方开发者进行必要的需求沟通、项目开发等等，如在特定信息上有保密要求，应在确定需求前提前指明。</p>
        <p>4.3 用户不得通过非济市授权的其他任何渠道使用本服务，如非因济市原因导致的项目质量低下、项目中断等后果，济市不承担责任。</p>
        <p>4.4 用户理解并同意济市提供的需求方服务模式。</p>
        <p>4.5 用户在项目完成后完全拥有项目产品的所有权等相关权利。</p>
        <p>4.6
            项目开发期间，需求方用户应积极配合开发者，及时提供开发者所需的各类图片和文字资料，并应对上述资料的合法性、真实性负责。如因需求方用户提供的资料(有误、虚假等)而引起的各种法律纠纷，或时间上的迟滞造成项目开发进度延期，其相关的一切责任由需求方用户承担，济市和开发者不承担由此产生的任何直接责任或连带责任。</p>

        <div class="par-title">
            <p>五、【希云的权利义务】</p>
        </div>

        <p>5.1
            保护用户信息是济市的一项基本原则，济市将会采取合理的措施保护用户所提交的一切资料及信息。除法律法规规定的情形外，未经用户许可济市不会向其他第三方公开、透露上述资料及信息。用户基于申请本服务的需要，授权济市将其提交的资料和信息提供给开发者，在本协议许可的范围内，济市及第三方开发者对相关资料及信息进行传输及使用，保障用户的信息安全。</p>
        <p>5.2济市提供包含且不限于需求梳理、开发匹配、项目管理和辅助的一体化工具，招募的开发者完成项目的开发工作。</p>
        <p>5.3. 若济市无任何过错，需求方用户未能按本协议和各分项合同规定的时间内支付有关款项，济市保留暂停制作工作的权利， 不承担由此产生的经济损失、责任。</p>
        <p>5.4 济市的有关报价资料若未经甲方认可，济市就进行单独制作，因此而产生的费用用户不作任何补偿。</p>
        <p>5.5 济市有责任积极配合用户进行项目测试、验收工作。项目测试期间，甲方提出的操作疑问等问题，济市有责任督促开发者在一个工作日内书面解答。</p>
        <p>5.6 济市严格保守用户的商业机密和资料，不得转借他人或转卖，未经得用户许可(文字依据)，不得在本项目范围之外使用用户现提供的所有资料及项目成果(包括程序代码)。</p>
        <p>5.7 用户授权济市和招募开发者在开发网站履行合同期间可以使用与网站相关的用户的名称、商标、域名、企业标志等，但使用不能损害用户的利益且只能用于本项目。</p>

        <div class="par-title">
            <p>六、【其他】</p>
        </div>

        <p>6.1
            你使用本服务即视为你已阅读并同意受本协议的约束。济市有权在必要时修改本协议条款。你可以在相关服务页面查阅最新版本的条款。本协议条款变更后，如果你继续使用济市平台需求方服务，即视为你已接受修改后的协议。如果你不接受修改后的协议，应当停止使用济市平台需求方服务。</p>
        <p>6.2 本协议签订地为中华人民共和国上海市嘉定区。</p>
        <p>6.3 本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律（不包括冲突法）。</p>
        <p>6.4 若你和济市之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，你同意将纠纷或争议提交本协议签订地有管辖权的人民法院管辖。</p>
        <p>6.5 本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。</p>
        <p>6.6 本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。</p>

        <div class="author">
            <p>济市团队</p>
        </div>

    </div>


{% endblock %}