{% extends "navbar.html" %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1">
    <title>Coding 码市 - No.49 私教管理平台</title>
    <meta name="apple-itunes-app" content="app-id=1048541582">

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <link rel="stylesheet" href="../css/main.min.css">
</head>
<body>
<div id='wx_logo' style='margin:0 auto;display:none;'>
    <img src='https://dn-coding-net-production-pp.qbox.me/7fc51c39-3f7e-4068-b608-1e88f5d05818.png'/>
</div>
<div class="main-container">
    <header id="mart-header" class=" ">

    </header>
    <div class="view-container  ">
        <div id="mart-reward-detail">
            <div class="content">
                <section class="reward-title">
                    <input style="display:none" value="49" name="id">
                    <div class="title-row">
                        <span class="title">私教管理平台</span>
                        <span class="status status-7 pull-right">已结束</span>

                    </div>
                    <div class="desc-row">
                        <div class="role-type">
                            <span class="reward-no">No.49</span>
                            <span class="type">设计师&nbsp;</span>
                            <span class="type">iOS开发&nbsp;</span>
                        </div>
                    </div>
                    <div class="detail-row">
                        <span class="detail-span border-right"><span class="darker">金额</span>￥60,000</span>
                <span class="detail-span border-right"><span class="darker">类型</span>
                                                                                                                    移动应用 APP
                                                                                                                                                                                                </span>
                        <span class="detail-span"><span class="darker">周期</span>40&nbsp;天</span>
                    </div>
                </section>
                <section class="reward-title-mobile" style="display:none;">
                    <input style="display:none" value="49" name="id">
                    <div style="background: url(https://dn-coding-net-production-static.qbox.me/231c1d64-6239-4695-a650-cefc78a7cb91.jpg) center/cover no-repeat"
                         class="reward-cover">
                        <span class="reward-no">No.49</span>
                    </div>
                    <div class="status status-7-label pull-right">已结束</div>
                    <div class="title-row">
                        <span class="title">私教管理平台</span>
                    </div>
                    <div class="type-row">
                        <i class="fa fa-apple"></i>
                    <span class="detail-span border-right">
                    移动应用 APP
                </span>
                        <span class="type">设计师</span>
                        <span class="type">iOS开发</span>
                    </div>
                    <div class="detail-row">
                <span class="item">
                    <span class="darker">金额</span><span class="number">&nbsp;￥60,000</span>
                </span>
                <span class="item">
                    <span class="darker">周期</span><span class="number">&nbsp;40&nbsp;</span>天
                </span>
                    </div>
                    <div class="button-row">
                    </div>
                </section>
                <section class="reward-content">
                    <div class="description typo"><h2 id="user-content-一、项目描述：">一、项目描述：</h2>
                        <p>
                            该项目是一款基于用户和私教的交易平台。项目分为两个APP（用户端，私教端）和一个后台，用户端的主要功能是根据条件筛选出合适的私教并预约该私教的课程，私教端的主要功能是管理发布课程计划，后台主要用来查看平台的使用情况及交易情况。</p>
                        <h2 id="user-content-二、功能描述">二、功能描述</h2>
                        <h3 id="user-content-1、学员端：">1、学员端：</h3>
                        <p><strong>教练</strong><br> 包括教练搜索，教练筛选，教练列表详。</p>
                        <p><strong>我的课程</strong><br> 包括我的课程订单及课程详情</p>
                        <p><strong>系统</strong><br> 个人信息，系统消息，设置，关于我们</p>
                        <h3 id="user-content-2、教练端：">2、教练端：</h3>
                        <p><strong>课程排期</strong><br> 包括新建课程排期、排期列表</p>
                        <p><strong>订单</strong><br> 包括订单筛选、订单列表</p>
                        <p><strong>系统</strong><br> 包括基本信息和设置信息</p>
                        <h3 id="user-content-3、后台：">3、后台：</h3>
                        <p><strong>订单管理</strong><br> 后台运营筛选、查看并处理订单</p>
                        <p><strong>用户管理</strong><br> 后台运营管理并编辑用户信息</p>
                        <p><strong>后台管理</strong><br> 可以创建管理员账号和密码</p>
                        <h2 id="user-content-项目说明">项目说明</h2>
                        <h3 id="user-content-设计">设计</h3>
                        <p>需求：</p>
                            <p>根据我们提供的功能文档、需求文档和原型图完成产品设计。<br> （以iphone5S或者6的尺寸设计，设计好了切三套图：4、4s一套；5、5S、6、一套；6plus一套）</p>
                        <p>时间安排：</p>
                            <p>第一版交付：2 周<br> 修改调整：2 周</p>
                        <p>交付物：</p>
                            <p>产品设计需求文档<br> 界面效果图<br> 页面标注</p>
                        <p>金额：</p>
                            <p>15000 人民币</p>
                        <h3 id="user-content-开发-两位">开发 两位</h3>
                        <p>需求：</p>
                            <p>开发者一：根据功能需求和产品设计交互文档，开发 IOS 版本。<br> 开发者二：提供相关数据接口及后台开发</p>
                        <p>时间安排：</p>
                            <p>第一版跑通：4 周<br> Bug 修复：2 周<br> 上线准备：2 周</p>
                        <p>交付物：</p>
                            <p>两个符合需求文档及功能文档规范的APP，以 ios版本在 Apple Store 成功上架为标准。<br> 源代码，需要随时把最新的代码 Push 到指定的私有项目中。<br>
                                交付文档说明，描述基本技术框架和数据库设计。</p>
                        <p>金额：</p>
                            <p>45000 人民币（其中开发者一 25000，开发者二 20000）</p>
                        <p>具体排期计划以项目启动后排期沟通为准（五阶段划分，阶段性验收并支付酬金）</p></div>
                </section>
            </div>
            <div class="modal join_modal" style="display: none">
                <div class="box">
                    <div class="form">
                        <span class="close join_close"><i class="fa fa-remove"></i></span>
                        <div class="title">报名悬赏</div>
                        <div class="input">
                            <p class="modal-desc">选择您的报名角色</p>
                            <select name="role_type" class="form-input" style="width: 458px">
                                <option value="-1">请选择角色</option>
                                <option value="2">设计师</option>
                                <option value="4">iOS开发</option>
                            </select>
                            <p class="modal-desc">简述你能胜任项目的原因（详细的说明能增加你的入选率）</p>
                            <textarea class="form-input" rows="5" name="message"></textarea>
                            <p class="secret">
                                <input type="checkbox" name="secret"/>我承诺，如有接触非公开的项目信息，我将对这些信息保密。
                            </p>
                        </div>
                        <div class="buttons">
                            <button class="cancel">取消</button>
                            <button class="send">参与悬赏</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
{% endblock %}
