{% extends "navbar.html" %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1,minimum-scale=1, maximum-scale=1">
    <title>{{project.name}}</title>
    <meta name="apple-itunes-app" content="app-id=1048541582">

    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <link rel="stylesheet" href="../css/main.min.pro.css">
</head>
<body>
<div id='wx_logo' style='margin:0 auto;display:none;'>
    <img src='https://dn-coding-net-production-pp.qbox.me/7fc51c39-3f7e-4068-b608-1e88f5d05818.png'/>
</div>
<div class="main-container">
    <header id="mart-header" class=" ">

    </header>
    <div class="view-container  ">
        <div id="mart-reward-detail">
            <div class="content">
                <section class="reward-title">
                    <input style="display:none" value="49" name="id">
                    <div class="title-row">
                        <span class="title">{{project.name}}</span>
                    </div>
                    <button class="sub-button mart-button btn-with-shadow" style="float:right;background:#32be77" type="submit">申请加入</button>
                    <div class="desc-row">
                        <div class="role-type">
                            <span class="reward-no">No.49</span>
                            <span class="type">{{get_type(project.type)}}&nbsp;</span>
                        </div>
                    </div>
                    <div class="detail-row">
                        <span class="detail-span border-right"><span class="darker">金额</span>{{get_budget(project.budget)}}</span>
                <span class="detail-span border-right"><span class="darker">类型</span>
                {{get_type(project.type)}}</span>
                        <span class="detail-span"><span class="darker">周期</span>40&nbsp;天</span>
                        <span class="detail-span"><span class="darker">人数</span>{{ project.currentPeople }} / {{project.maxPeople}}</span>
                    </div>
                </section>

                <section class="reward-content">
                    <div class="description typo">
                        <h2 >一、项目描述：</h2>
                        <p>{{project.description}}</p>
                        <h2 >二、功能描述</h2>
                        <p>无</p>
                        <h2>三、联系人</h2>

                        <p><strong>姓名:</strong>{{project.contact}}</p>
                        <p><strong>邮箱:</strong>{{project.contact_email}}</p>
                        <p><strong>电话:</strong>{{project.contact_mobile}}</p>
                    </div>
                </section>
            </div>
            <div class="modal join_modal" style="display: none">
                <div class="box">
                    <div class="form">
                        <span class="close join_close"><i class="fa fa-remove"></i></span>
                        <div class="title">报名悬赏</div>
                        <div class="input">
                            <p class="modal-desc">选择您的报名角色</p>
                            <select name="role_type" class="form-input" style="width: 458px">
                                <option value="-1">请选择角色</option>
                                <option value="2">设计师</option>
                                <option value="4">iOS开发</option>
                            </select>
                            <p class="modal-desc">简述你能胜任项目的原因（详细的说明能增加你的入选率）</p>
                            <textarea class="form-input" rows="5" name="message"></textarea>
                            <p class="secret">
                                <input type="checkbox" name="secret"/>我承诺，如有接触非公开的项目信息，我将对这些信息保密。
                            </p>
                        </div>
                        <div class="buttons">
                            <button class="cancel">取消</button>
                            <button class="send">参与悬赏</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
{% endblock %}
